@media only screen and (max-width: 600px) {
  h1 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    padding-top: 8%;
    font-size: 40px;
    text-align: center;
  }
}
.room_preferences1 {
  display: none;
}

.room_preferences2 {
  display: none;
}

.first_floor {
  max-height:130px;
  overflow:auto;
}

.second_floor {
  display: none;
  max-height:130px;
  overflow:auto;

}

#searchBtn {
  display: none;
}

.first_floor {
  display: none;
}

.second_floor {
  display: none;
}

.button5 {
    background-color: white;
    color: black;
    border: 1px solid #555555;
    padding: 5px;
    border-radius: 5px;
}
#dropdown_floor{
  margin-bottom: 10px;
}
