.room_preferences1 {
  display: none;
}

.room_preferences2 {
  display: none;
  height: 200px;
  max-height: 250px;

}

#searchBtn {
  display: none;
}

.first_floor {
  display: none;
}

.second_floor {
  display: none;
}

.button5 {
    background-color: white;
    color: black;
    border: 1px solid #555555;
    padding: 5px;
    border-radius: 5px;
}
