
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Cinzel:900|Roboto:400,700');

#searchBtn {
  margin-top: 0.5%;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-family: 'Cinzel', serif;
    color: #3D4043;
    font-weight: 900;
    padding-top: 10%;
    margin: 4%;
    font-size: 270%;
    text-align: center;
  }
}

::-webkit-input-placeholder{
  font-style: oblique;
  font-family: montserrat;
}

body {
  background-color: #C3D0E8;
  color: white;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  width: 50%;
  height: 300%;
  margin: 3%;
  background-color: #3C5379;
  color: white;
  white-space: normal;
  -webkit-appearance: none;
  word-break: normal;
}
