
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url('https://fonts.googleapis.com/css?family=Merriweather');

#searchBtn {
  margin-top: 0.5%;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    /* padding-top: 15%;
    margin: 8%; */
    font-size: 60px;
    text-align: center;
  }
}

::-webkit-input-placeholder{
  font-style: oblique;
  font-family: montserrat;
  color: #A0998E;
}

body {
  background-image: image("map_app.png");
}

button {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  width: 200px;
  height: 130px;
  margin: 8px;
  white-space: normal;
  -webkit-appearance: none;
  word-break: normal;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
