@media only screen and (max-width: 600px) {
  h1 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    padding-top: 8%;
    font-size: 40px;
    text-align: center;
  }
}
.room_preferences1 {
    display: none;
  }

  .room_preferences2 {
    display: none;
  }

  .subMenu {
      display: none;
  }

  .foodSubMenu {
    display: none;
}
 .food_pc {
     display: none;
 }
 #otherplace {
   display: none;
 }

 #buildingPreference {
   display: none;
 }

  .button5 {
    background-color: white;
    color: black;
    border: 1px solid #555555;
    padding: 5px;
    border-radius: 5px;
}
