@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Cinzel:900|Roboto:400,700');

/*
light blue: #C3D0E8
dark blue: #3C5379
grey: #3D4043
*/

body {
  background-color: #C3D0E8;
  color: white;
}
#bathpreference {
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 130%;
}
#buildingPreference {
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 130%;
  color:#3D4043;
  background-color: #C3D0E8;
}
#dropdown {
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: white;
  background-color: #3C5379;
}
#nearme {
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  color: grey;
}
#myForm {
  background-color: #C3D0E8;
}
#preferences {
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  color: #3D4043;
}
#plus_preferences {
  background-color: #C3D0E8;
  color: #3D4043;
}
#building {
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  color: #3D4043;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-family: 'Cinzel', serif;
    color: #3D4043;
    font-weight: 900;
    padding-top: 10%;
    margin: 4%;
    font-size: 270%;
    text-align: center;
  }
}

 /* The snackbar - position it at the bottom and in the middle of the screen */
 #snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
 However, delay the fade out process for 2.5 seconds */
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
