@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Cinzel:900|Roboto:400,700');

/*
light blue: #C3D0E8
dark blue: #3C5379
grey: #3D4043
*/

body {
  background-color: #C3D0E8;
}
h2 {
  font-family: 'Roboto', sans-serif;
  color: #3D4043;
  font-size: 150%;
}
#building_name {
  font-family: 'Roboto', sans-serif;
  color: #3D4043;
  font-size: 155%;
}

#name {
  font-family: 'Roboto', sans-serif;
  color: #3D4043;
  font-size: 180%;
}
#bathroom1 {
  background-color: #3C5379;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
}
#bathroom2 {
  background-color: #3C5379;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
}
#nearMeBtn {
  background-color: #3C5379;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
}
.nearMe{
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  background-color: #3C5379;
  color: white;
  cursor:pointer;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 5px;
}

.option1{
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  background-color: #3C5379;
  color: white;
  cursor:pointer;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 5px;
}
.decription {
  background:#eee;
}

.hidden{
  display: none;
}

.option2{
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  background:#3C5379;
  color: white;
  cursor:pointer;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 5px;
}

.decription2 {
  background: #3C5379;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 260px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 170%;
}
