h1 {
  font-family: sans-serif;
  padding-top: 100px;
  font-size: 36px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-family: sans-serif;
    padding-top: 30%;
    margin: 8%;
    font-size: 36px;
  }
}

::-webkit-input-placeholder{
  font-style: oblique;
}

form {
  margin-left: 10%;
  margin-right: 10%;
}
